TELEGRAM_TOKEN: "" # Вставь сюда свой токен

BUTTONS:
  MESSAGE_ABOUT_CHANNEL: "Наш телеграм-канал"
  MESSAGE_INSTUCTION: "Инструкция"
  MESSAGE_HELP: "Помощь"
  MESSAGE_MENU: "Главное меню"

MAIN_MENU:
  MESSAGE_WELCOME: "Давай начнем исследование в мире искусственного интеллекта! 🚀🌐\n\nЯ AI recommend, помощник в поиске сервиса ИИ . Давай познакомимся! 🤝\n\nКак мне к тебе обращаться? Как тебя зовут? 😊\n\nРасскажи кем работаешь? 💼\n\nРасскажи о себе и я дам тебе оптимальные рекомендации. 🤔✨" 
  MESSAGE_ABOUT_CHANNEL: "https://t.me/investment_and_innovation"
  MESSAGE_INSTUCTION: "Как пользоваться ботом? 🤔 Все просто!\n\nВ главном меню выберете тематику нейросетей 🤖, которую хотите. После этого, я отправлю сервис по выбранной тематике 👍. Если хотите посмотреть еще сервисы по выбранной тематике, просто нажмите “Еще варианты” . Если хотите выбрать другую тематику, вернитесь на главное меню и выберете новую 🤩\n\nВы можете попробовать любой сервис перейдя по 👉 ссылке в карточке сервиса🚨 Если будет необходима помощь или вы увидели неисправность, то нажмите на кнопку “Помощь”"
  MESSAGE_HELP: "Для оказания помощи напишите создателю \n👉 @grigoriy_bulaev 👈"
  MESSAGE_MENU: "Главное меню:\nБот AI recommend готов к использованию 🫡\n\nТеперь выбери под какую сферу подобрать ИИ\n\nДля этого выбери любую сферу из предложенных ниже 👇 \n\n🗣 Также рекомендуем нажать на кнопку «Телеграмм-канал» и подписаться на наш канал, в котором ты найдешь много интересных новостей про ИИ \n\n📋Если что-то непонятно, то жми «Инструкция»\n\n🚨Если возникла проблема нажми «Помощь» и напиши нам о проблеме"

MESSAGE_ITEMS_ENDED: "Список закончился. Мы постоянно обновляем базу с сервисами, скоро появятся новые 😊\nА пока вы можете вернуться на главное меню и выбрать другую категорию. Там тоже много полезных сервисов"
CHANNEL_URL: "https://t.me/investment_and_innovation"
